[D-BUS Service]
Name=com.mikeasoft.rockwatch
Exec=/usr/bin/env PYTHONPATH=/opt/rockwatch/deps/ /usr/bin/invoker --type=e -s --splash /opt/rockwatch/splash.png /opt/rockwatch/rockwatch.py
