Source: rockwatch
Section: user/internet
Priority: extra
Maintainer: Michael Sheldon <elleo@gnu.org>
Build-Depends: debhelper (>= 7), dpatch, libnotificationsystem-dev
Standards-Version: 3.8.4
Homepage: http://blog.mikeasoft.com/tag/rockwatch

Package: rockwatch
Architecture: any
Depends: python-pyside.qtcore, python-pyside.qtgui, python-dbus, python-gconf, python-pyside.qtdeclarative, python-qtmobility.messaging, python-qtmobility.location, libnotificationsystem0, ${misc:Depends}
Description: Control a Pebble watch from your N9.
 Rockwatch makes it possible to install Pebble apps, upgrade your Pebble's
 firmware, receive notifications of e-mails and SMS messages and control your
 music from your Pebble.
XB-Maemo-Display-Name: Rockwatch
XB-Maemo-Icon-26: iVBORw0KGgoAAAANSUhEUgAAAFAAAABQCAYAAACOEfKtAAAABmJLR0QA/wD/AP+gvaeTAAAKo0lE
 QVR4nO1dW2wU1xn+zpy5rT2z3l0bXwWoq9i7DsakzpNDUaQ0IUogJXGCzENAaVySGLVpK1Epastb
 2udEzYNL+oAIqEqsVKWiNFL6kCrCKIkMiGDs8JDCIrsy2Oz9OpfTB6+93vWF9e7O2Cx80pH2zJn5
 z3+++f9zmZnzL/AQZYHYVdEbb7xRw/N8jyiKOziO84uiuIVS6qGUuiilTkEQ6iilUjGyDMNIaZoW
 MQwjYppmUNO0u5qmBTRNG9c07YppmpeOHz+esLpNgIUEDg4O7pJleU9NTc1Oh8PxqCiKbk3TiKZp
 yGQy0HUdhmHAMAyYprnwGwAYY2CM5StKCAiZU5dSCkopOI5b+M3zPERRhCAIEASBaZp2N5lMXovH
 4+eTyeTZoaGh81a0s5IEkiNHjrzsdDpfU1V1FwBnMplEKpVCMpmEpmkVrOreEAQBDocDsizD4XCA
 EBIOhUJfJhKJEx988MHfALB7CikCZRP4+uuvt3o8nnc9Hs9Luq67YrEYYrEYdF2vhH4VA8/zUBQF
 iqKAUhoKBoOfRiKRY8ePH/9fOXJLJnBwcNDrdDrfc7lcz8ZiMTEYDG440lYCz/Nwu91QVTUdDAY/
 C4fDvxoaGrpRiqw1E7h//37a2tr6XlNT0+FwOCwFg0GYpllK3esOSincbjecTmc6EAj8eWho6NcA
 1tSYNRE4ODjo9Xg85yilvunpadv7NasgiiKampqg6/q1QCCw96OPPvpvsdcWTeChQ4ee83q9H4fD
 YTUYDJam6QZH1q0j33///SunTp36vJhriiLwzTff7G9ubj5x+/ZtOR6Pl6flBoeiKGhsbExOTk6+
 9uGHH35yr/PvSeCrr776jNfrPTs1NSWmUqnKaLnBIcsyWltb0zdu3Nh78uTJf6927qoE9vf3d3m9
 3pGZmRm12i2vELW1tWhoaIgEAoHe06dPX1vpPH41IW1tbcOhUEiNRqOV13CDIxqNgud5Z1NT08cA
 tq90Hl2pYGBg4I+yLL80PT29sLR60FIymYTT6Wzs6uriLl68+MVyPC3rwgcOHNi8efPmicnJyZpM
 JrPWm7cmdHd3Y8+ePSVdGwgEcPr06QprlA9JktDS0hK7efOmf3h4eLKwfFkXVlX1T+FwuMaOQcPj
 8aCnp6ekayVJsnwSn0wmEYlEFJfL9T6AVwrLucIDBw4c2Kyq6vMzMzMwTdPyVPjUZa2wQ8fZ2Vmo
 qrq3r6+vpbD+JRZYU1Pzh0gkIsw/WtroKPcGFANd1xGNRqW6urp3AQwsLssjcP/+/VRV1Z/cunXL
 tvVtOfUwxmzTc3Z2Fm1tbS8B+BkWPQrLc2FKaX8qlapLp9O2uMb94sKmaSKdTkPTNHd/f39eP5hn
 gQ6H41AkErH16Uo5BNppgQAQDochy/JPAQzPH1tMIJEk6Ynbt2/bphRjDOFwuOTrM5kM4vE4HA5H
 BbVaGZFIBFu2bHkCc9M/BiwicN++fT/SdV21ct4nSRJ27twJWZYBzHXO4+PjJcuLxWJobm5Gb28v
 AEDTNHz11VeIRCIV0bcQmUwGmqbV7du3r/fMmTMjwCICZVl+IR6PW2p9AwMDePHFFxfy6XQaR44c
 KUvm008/jcOHDy/kL1y4gGPHjpUlczUkEglIkrQXQD6BgiD0RqNRSwmsq6uzTPY8XC6XpW2Ix+NQ
 FKV3Pr9AIM/zPqstsHDA4DgO4+Pj6OvrK0leIpHIs755WE2g2+32z+d5ANi9e3ctIaTB6nVvIQRB
 wMjISEVlLvdOuZLIZDLgOK5x27Zt4tjYWIYHAErpY5lMhlg9+tqxagCstUAAyGQynNfr3TE2NvYN
 DwCiKD42P3muBljdjlQqBULIDwHMEcgY25ZKpSyv2A4LtGNynU6nQSndDmT7QEpp23oQ+O2336K/
 v78smW+//TbeeuutvGN2EFhbW9sG5EZhj6ZptrtwIpEoayINAHfu3MnL22GB2ffh9UCOQJcdBFbL
 IKLrOgghLiBLICHEWS0E2mWBjDEnkCWQMaashwtbBZsIVICcC4vzHzpaiWqxQF3XwRgTgSyBpmly
 1UIgYL0FZuugQI5AahiGbQ20GjYZQo5AxhitxOP1Iiu2vA6rCSSELLXAahlAAOtvVPaBBQ/kCLSl
 36iyPhBAzoUNxhj/0IWLQ9aFdSBngYZpmpYTaBdsItAAFhFox52rFgvkOC6fQMMwqoZAwB4LNLLf
 vsz3gRm7X1JbBTvaQSkFYywNZAnUdT1GCKl/aIHFIWuBUSDXB4azHaOlFVcTgaZpRoAcgSGO46pi
 KWf1WzlgbhBhjIWARQSuhwUKgoDGxsayZCqKsuSYTS4cBHKDSIBSajuBPT09mJ6erngddgwipmkG
 gNw0ZswOAu2CHQTqun4FyLnwRZ7nHw4iRSK7W34UyE1jLvM8bzLGOCsbWQ0rEUIIKKX6I488cvXS
 pUtzBI6NjWW6u7tnOI5rtHMLayaTQXt7O1palnz8XhSSySSOHj2KgwcP5h23kkBRFGGa5p3h4eHc
 SgQAGGNXJUl6Kp1OW1Z5oQUyxvDkk0/i5MmTJckbGRnB2NjYEplWEihJEhhjV+bzCwSapjkiSdJT
 VlZezue8xcLqHfRZC7wwn18g0DCMf0mS9HsrK3/nnXfw9ddfg+O4+TrLlnnq1CmMjo4u5M+dO2e5
 BRJCzi1XRnw+X4TneYa5D6htSQcPHmSl4vz587bqKggC8/l8ISzaY7h4nwgjhPxHVdXib8cDBkVR
 wHHcF1hpow2AE8stjR5iDqqqgjH2l8XH8gjcvn3732tqasKCINir2X2AbCSk4MTExD8XH88jcHh4
 2CCEfOJ2u+3V7j6Ax+MBgL+iIGTUku2upmn+1uVypXh+1WgADxR4nofT6Uw4HI7fFZYtIfD69esz
 lNJ/uFwue7S7D+ByucDz/JnLly+HCsuWNTNK6VGPx/N8NBpVrFyZAMDU1BQ+/7yoGDdLULgKsQKS
 JMHj8UQNw/jNmi70+/0/37p1KyOE2DrX2kiJEMK2bt3KOjs7S9uP5vP5LtXX1697Q9Yr1dfXM7/f
 n1vmLIMlfeBiMMae2bRp05TT6VzttKqE0+nEpk2bJgHsXu28VQm8fv36jMPheKa5uTk8v0X1QYAs
 y2hubg4pivLjiYmJ2bIFdnR0PNfe3h6tra1dd7eyOimKwtrb2yN+v//ZsolbjJ6enk6fz3fL7Xav
 eyOtSm63m/n9/ls7duzoKJaXNQVg7OzsbGGMnY3FYj3VGICxtrb2G57nX7h69WplXxUWoqur6xcd
 HR3h+vp6Rildd8spNVFKWUNDA+vo6Ah1d3cPlsJFyUFofT7fDwC8b5rms+FwWAwGg/eNRYqiuBA7
 leO4zziO++X4+PjNUmSVHQbZ5/O1AniXMdaXSqXqotEootHohovoy/M8VFWFqqqQZTlECPmU47hj
 4+Pj6xMGeTlZPp/vZULIa6Zp7kqn0xsqELckSWEAX3Icd2JiYmLjBOJeCR0dHbsIIXsA7ATwqGEY
 toaCp5TeBXCNEHKeMXb2u+++2/Ch4FfF448/XhONRnsopTsMw/ATQrYA8ABwAXAyxuoIIRIAMMYE
 LA0OaRBCtGx5ihASARABEARwlzEWIISMA7iiKMql0dFRW/6M4CHKxP8B888BBLhCFFcAAAAASUVO
 RK5CYII=
